RRS_INTEGRATOR_ADDRESS=
RRS_PASS_VAULT=Report Service
RRS_DATA_DIR=./data
RRS_STATE_DB=./data/state.sqlite3
RRS_POLL_INTERVAL_SECONDS=600
RRS_NETWORK_CONFIG_FILE=./config/network.yaml
RRS_SENDERS_CONFIG_FILE=./config/senders.yaml
